{% extends "knifebase.html" %}

{% block content %}
	<div style="margin-top: 50px;">
        <div class="well">已注册用户数: <span class="badge">{{ registers }}</span></div>
	</div>

<div style="margin-top: 50px; ">

	<form class="form-horizontal" role="form" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="firstname" class="col-sm-2 control-label">用户</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="firstname" name="username"
					   placeholder="请输入用户名">
			</div>
		</div>
		<div class="form-group">
			<label for="lastname" class="col-sm-2 control-label">密码</label>
			<div class="col-sm-5">
				<input type="password" class="form-control" id="lastname" name="password"
					   placeholder="请输入密码">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">注册</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}